<%= form_with model: @mod do |f| %>
  <% if @mod.errors.any? %>
    <div id="error_explanation" class="alert alert-warning" role="alert">
      <h4 class="alert-heading"><%= pluralize(@mod.errors.count, "Error") %> prohibited this mod from being saved</h4>
      <% @mod.errors.full_messages.each do |message| %>
        <%= message %>&#10;
      <% end %>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div id="in-form" class="mb-2">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
    <div class="form-text">Must be shorter than or equal to 48 characters long.</div>
  </div>

  <div class="flex-container" id="in-form">
    <div>
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, size: "70x4", class: "form-control" %>
      <div class="form-text">This description can be written using
        <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank" rel="noopener noreferrer">Markdown</a>.
        Must be shorter than or equal to 2048 characters long.
      </div>
    </div>

    <div data-controller="multi-upload" class="mb-2">
      <div class="images">
        <%= f.label :images, class: "form-label" %>
        <br>
        <%= f.file_field :images, class: "form-control", multiple: true, data: { action: "multi-upload#addFile" } %>
      </div>

      <div data-multi-upload-target="files"></div>
    </div>

    <!--    <div>-->
    <!--      <bx-form-item>-->
    <!--        <bx-file-uploader helper-text="Only .jpg and .png files. 500kb max file size." label-text="Mod Image">-->
    <!--          <bx-file-drop-container accept="image/jpeg, image/png" size="500000"-->
    <!--                                  multiple="true"-->
    <!--                                  enctype="multipart/form-data"-->
    <!--                                  name="mod[images]"-->
    <!--                                  value="<%#= @mod.images %>"-->
    <!--                                  data-direct-upload-url="<%#= rails_direct_uploads_url %>">-->
    <!--            Drag and drop your images here or click to upload.-->
    <!--            At least one image must be provided.-->
    <!--          </bx-file-drop-container>-->
    <!--        </bx-file-uploader>-->
    <!--      </bx-form-item>-->
    <!--    </div>-->
  </div>

  <div id="in-form" class="mb-2">
    <%= f.label :tag_string, "Tags", class: "form-label" %>
    <%= f.text_field :tag_string, class: "form-control" %>
    <div class="form-text">Separate tags by commas, eg: <i>"bibo+, female, clothing"</i>.</div>
  </div>

<!--    <bx-input name="mod[tag_string]" value="<%#= @mod.tag_string.present? ? @mod.tag_string : @mod.tags.join(', ') %>">-->
<!--      <span slot="label-text">Tags</span>-->
<!--      <span slot="helper-text">Separate tags by commas, eg; "bibo+, female, clothing".</span>-->
<!--      <span slot="validity-message">Something isn't right!</span>-->
<!--    </bx-input>-->

  <div id="in-form" class="mb-2">
    <%= f.label :download_url, "Download URL", class: "form-label" %>
    <%= f.url_field :download_url, class: "form-control" %>
    <div class="form-text">Must be a valid URL.</div>
  </div>

<!--    <bx-input name="mod[download_url]" value="<%#= @mod.download_url %>" type="url" pattern="https?://.+">-->
<!--      <span slot="label-text">Download URL</span>-->
<!--      <span slot="helper-text">Must be a valid URL.</span>-->
<!--      <span slot="validity-message">Something isn't right!</span>-->
<!--    </bx-input>-->


  <div class="flex-container mb-2" id="in-form">
    <%= f.check_box :nsfw, class: "form-check-input" %>
    <%= f.label :nsfw, "NSFW", class: "form-check-label" %>

    <%= f.check_box :premium, class: "form-check-input" %>
    <%= f.label :premium, "Paid Content", class: "form-label" %>

    <%= f.check_box :unlisted, class: "form-check-input" %>
    <%= f.label :unlisted, class: "form-label" %>
  </div>

  <div>
    <%= f.submit 'Publish', type: 'submit', class: 'btn btn-primary' %>
    <% if edit == true %>
      <%= f.button "Delete", class: "btn btn-danger", formmethod: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    <a class="btn btn-outline-primary" href="javascript:history.back()">Back</a>
  </div>
<% end %>

<%= render "confirm_modal" if edit == true %>

<script type="text/javascript">
    document.getElementById('delete-mod').addEventListener('click', () => {
        document.getElementById('confirm-modal').open = true;
    });
</script>

<%#= form_with model: mod do |form| %>

<!--  <div>-->
<%#= form.label :title %>
<%#= form.text_field :title %>
<%# @mod.errors.full_messages_for(:title).each do |message| %>
<!--      <div><%#= message %></div>-->
<%# end %>
<!--  </div>-->

<!--  <div>-->
<%#= form.label :description %>
<%#= form.text_area :description %>
<%# @mod.errors.full_messages_for(:description).each do |message| %>
<!--      <div><%#= message %></div>-->
<%# end %>
<!--  </div>-->

<!--  <div>-->
<%#= form.label :tags %>
<%#= form.text_field :tags %>
<%# @mod.errors.full_messages_for(:tags).each do |message| %>
<!--      <div><%#= message %></div>-->
<%# end %>
<!--  </div>-->

<!--  <div>-->
<%#= form.label :download_url %>
<%#= form.text_field :download_url %>
<%# @mod.errors.full_messages_for(:download_url).each do |message| %>
<!--      <div><%#= message %></div>-->
<%# end %>
<!--  </div>-->

<!--  <div>-->
<%#= form.submit %>
<!--  </div>-->
<%# end %>