<%= form_with model: @mod do |f| %>
  <% if @mod.errors.any? %>
    <div id="error_explanation">
      <bx-inline-notification title="<%= pluralize(@mod.errors.count, "error") %> prohibited this mod from being saved:"
                              subtitle="
                                <% @mod.errors.full_messages.each do |message| %>
                                          <%= message %>&#10;
                                        <% end %>"
                              kind="error">
      </bx-inline-notification>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <bx-form-item id="in-form">
    <bx-input name="mod[title]" value="<%= @mod.title %>">
      <span slot="label-text">Title</span>
      <span slot="helper-text">Must be shorter than or equal to 48 characters long.</span>
      <span slot="validity-message">Something isn't right!</span>
    </bx-input>
  </bx-form-item>

  <div class="flex-container" id="in-form">
    <div>
      <bx-form-item>
        <bx-textarea name="mod[description]" value="<%= @mod.description %>" rows="4">
          <span slot="label-text">Description</span>
          <span slot="helper-text">Uses Markdown. Must be shorter than or equal to 2048 characters long.</span>
          <span slot="validity-message">Something isn't right!</span>
        </bx-textarea>
      </bx-form-item>
    </div>

    <div data-controller="multi-upload">
      <div class="images">
        <%= f.label :images %>
        <%= f.file_field :images, multiple: true, data: { action: "multi-upload#addFile" } %>
      </div>

      <div data-multi-upload-target="files"></div>
    </div>

    <!--    <div>-->
    <!--      <bx-form-item>-->
    <!--        <bx-file-uploader helper-text="Only .jpg and .png files. 500kb max file size." label-text="Mod Image">-->
    <!--          <bx-file-drop-container accept="image/jpeg, image/png" size="500000"-->
    <!--                                  multiple="true"-->
    <!--                                  enctype="multipart/form-data"-->
    <!--                                  name="mod[images]"-->
    <!--                                  value="<%#= @mod.images %>"-->
    <!--                                  data-direct-upload-url="<%#= rails_direct_uploads_url %>">-->
    <!--            Drag and drop your images here or click to upload.-->
    <!--            At least one image must be provided.-->
    <!--          </bx-file-drop-container>-->
    <!--        </bx-file-uploader>-->
    <!--      </bx-form-item>-->
    <!--    </div>-->
  </div>

  <bx-form-item id="in-form">
    <bx-input name="mod[tag_string]" value="<%= @mod.tag_string.present? ? @mod.tag_string : @mod.tags.join(', ') %>">
      <span slot="label-text">Tags</span>
      <span slot="helper-text">Separate tags by commas, eg; "bibo+, female, clothing".</span>
      <span slot="validity-message">Something isn't right!</span>
    </bx-input>
  </bx-form-item>

  <bx-form-item id="in-form">
    <bx-input name="mod[download_url]" value="<%= @mod.download_url %>" type="url" pattern="https?://.+">
      <span slot="label-text">Download URL</span>
      <span slot="helper-text">Must be a valid URL.</span>
      <span slot="validity-message">Something isn't right!</span>
    </bx-input>
  </bx-form-item>


  <div class="flex-container" id="in-form">
    <bx-form-item>
      <bx-checkbox name="mod[nsfw]" value="<%= @mod.nsfw.present? ? @mod.nsfw : true %>" label-text="NSFW"></bx-checkbox>
    </bx-form-item>
    <bx-form-item>
      <bx-checkbox name="mod[premium]" value="<%= @mod.premium.present? ? @mod.premium : true %>" label-text="Paid Content"></bx-checkbox>
    </bx-form-item>
    <bx-form-item>
      <bx-checkbox name="mod[unlisted]" value="<%= @mod.unlisted.present? ? @mod.unlisted : true %>" label-text="Unlisted"></bx-checkbox>
    </bx-form-item>
  </div>

  <bx-form-item>
    <div>
      <%= f.submit 'Publish', type: 'submit', class: 'confirm-btn primary' %>
      <% if edit == true %>
        <bx-btn type="destroy" kind="danger" id="delete-mod" data-confirm="Are you sure?">Delete</bx-btn>
      <% end %>
      <bx-btn type="back" kind="ghost" href="javascript:history.back()">Back</bx-btn>
    </div>
  </bx-form-item>
<% end %>

<%= render "confirm_modal" if edit == true %>

<script type="text/javascript">
    document.getElementById('delete-mod').addEventListener('click', () => {
        document.getElementById('confirm-modal').open = true;
    });
</script>

<%#= form_with model: mod do |form| %>

<!--  <div>-->
<%#= form.label :title %>
<%#= form.text_field :title %>
<%# @mod.errors.full_messages_for(:title).each do |message| %>
<!--      <div><%#= message %></div>-->
<%# end %>
<!--  </div>-->

<!--  <div>-->
<%#= form.label :description %>
<%#= form.text_area :description %>
<%# @mod.errors.full_messages_for(:description).each do |message| %>
<!--      <div><%#= message %></div>-->
<%# end %>
<!--  </div>-->

<!--  <div>-->
<%#= form.label :tags %>
<%#= form.text_field :tags %>
<%# @mod.errors.full_messages_for(:tags).each do |message| %>
<!--      <div><%#= message %></div>-->
<%# end %>
<!--  </div>-->

<!--  <div>-->
<%#= form.label :download_url %>
<%#= form.text_field :download_url %>
<%# @mod.errors.full_messages_for(:download_url).each do |message| %>
<!--      <div><%#= message %></div>-->
<%# end %>
<!--  </div>-->

<!--  <div>-->
<%#= form.submit %>
<!--  </div>-->
<%# end %>