<div class="flex-container">
  <div class="flex-item">
    <h1>
      <% if @tag.present? %>
        Mods tagged with "<%= @tag %>"
      <% else %>
        Mods
      <% end %>
    </h1>
  </div>

  <div class="flex-item">
    <p>
      <% if session[:user_id] %>
        <bx-btn href="<%= new_mod_path %>">Publish New Mod</bx-btn>
      <% end %>
    </p>
  </div>
</div>

<% @mods.each do |mod| %>
  <bx-clickable-tile href="<%= mod_path(mod) %>">
    <%= image_tag("placeholder.png", height: '64') %>
    <h3><%= mod.title %></h3>
  </bx-clickable-tile>
<% end %>
</div>

<% if @tag.present? %>
  <p>
    <bx-link href="javascript:history.back()">Back</bx-link>
  </p>
<% end %>