<h1><%= @mod.title %></h1>

<p>
  <bx-btn href="<%= @mod.download_url %>">Download</bx-btn>
  <% if (current_user.present? && current_user.id == @mod.user_id) %>
    <bx-btn href="<%= edit_mod_path(@mod) %>" kind="secondary">Edit Mod</bx-btn>
  <% end %>
</p>

<p>Tags:
  <% @mod.tags.each do |tag| %>
    <bx-tag><a href="<%= mod_tag_path(tag) %>"><%= tag %></a></bx-tag>
  <% end %>
</p>

<p>Author: <%= User.find(@mod.user_id).username %></p>

<p>Published: <%= localize(@mod.created_at, :format => :long) %></p>

<p>Last Updated: <%= localize(@mod.updated_at, :format => :long) %></p>

<p><%= @mod.description %></p>



<p><bx-link href="javascript:history.back()">Back</bx-link></p>