<div class="flex-container" id="view-mod">
  <div id="view-mod-left">
    <h1><%= @mod.title %></h1>

    <% if @mod.images.attached? %>
      <div id="mod-carousel" class="carousel slide mb-3" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @mod.images.each_with_index do |image, index| %>
            <li data-target="#mod-carousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @mod.images.each_with_index do |image, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= image_tag image.variant(resize_to_fit: [600, nil]) %>
            </div>
          <% end %>
        </div>
        <% if @mod.images.count > 1 %>
          <a class="carousel-control-prev" href="#mod-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#mod-carousel" role="button" data-slide="next">
            <span class="sr-only">Next</span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        <% end %>
      </div>
    <% end %>

    <p><strong>Tags:</strong>
      <% @mod.tags.each do |tag| %>
        <span class="badge rounded-pill bg-primary">
          <a class="text-light" href="<%= mod_tag_path(tag) %>"><%= tag %></a>
        </span>
      <% end %>
    </p>

    <p><strong>Author:</strong>
      <bx-link href="<%= user_path(@mod.user) %>"><%= @mod.user.username %></bx-link>
    </p>

    <p><strong>Published:</strong> <%= localize(@mod.created_at, format: :long) %></p>

    <p><strong>Last Updated:</strong> <%= localize(@mod.updated_at, format: :long) %></p>

    <p><%= @mod.description %></p>

    <p>
      <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
    </p>
  </div>

  <div class="flex-container" id="view-mod-right">
    <div>
      <a href="<%= @mod.download_url %>" class="btn btn-primary">Download</a>
    </div>
    <% if (current_user.present? && current_user.id == @mod.user_id) %>
      <div>
        <a href="<%= edit_mod_path(@mod) %>" class="btn btn-secondary">Edit Mod</a>
      </div>
    <% end %>

  </div>
</div>

