<h1><%= @mod.title %></h1>

<p>Tags: <%= @mod.tags.split.join(' ') %></p>

<p><bx-link href="<%= @mod.download_url %>">Download</bx-link></p>

<p>Published: <%= localize(@mod.created_at, :format => :long) %></p>

<p>Last Updated: <%= localize(@mod.updated_at, :format => :long) %></p>

<p><%= @mod.description %></p>

<% if (current_user.present? && current_user.id == @mod.user_id) %>
  <bx-link href="<%= edit_mod_path(@mod) %>">Edit Mod</bx-link>
<% end %>

<p><bx-link href="<%= mods_path %>">Back</bx-link></p>