<div class="flex-container" id="view-mod">
  <div id="view-mod-left">
    <h1><%= @user.username %></h1>
    <p><b>Name: </b><%= @user.name %></p>
    <p><b>Email: </b><%= @user.email %></p>

    <div id="mods" class="grid" data-controller="mod-list" data-no-turbolink>
      <%= render partial: "mods/mod", collection: @mods %>
    </div>
  </div>

  <div id="view-mod-right">
    <% if @user.id == current_user&.id %>
      <a class="btn btn-secondary" href="<%= new_mod_path %>">New Mod</a>
      <a class="btn btn-primary" href="<%= edit_user_path(@user) %>">Edit Profile</a>
    <% end %>
  </div>
</div>