<!DOCTYPE html>
<html>
  <head>
    <title>MateriaConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'dashboard/header' %>

    <% flash.each do |type, msg| %>
      <div class="alert alert-dismissible fade show <%= (type == "notice") ? "alert-secondary" : "alert-danger" %>" role="alert">
        <h4 class="alert-heading"><%= type.titleize %></h4>
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
